.app {
  display: block;
  background: #f2f2f2;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.sections {
  width: 100%;
  height: calc(100vh-70px);
  justify-content: space-between;
  position: relative;
  gap: 20px;
  top: 70px;
  
    > *{
      width: 100vh;
      height: calc(100vh-70px);
    }
}

.section {
  background: skyblue;
  padding: 20px;
  border-radius: 5px;
  display: contents;
  justify-content: space-between;
  
 
}
